.player-table {
    border: 1px solid black;
}

.player-table-header {
    border: 1px solid black;
    min-width: 80px;
    padding: 5px;
}

.player-cell {
    border: 1px solid black;
}

.selected-pagination-button {
    color: red;
}

.auto-width-cell {
    min-width: auto;
}